@property --progress-value {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }
  
  @keyframes progress {
   to { --progress-value: var(--value); }
  }
  
  .progress-circle {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, white 79%, transparent 80% 100%),
      conic-gradient(rgb(134, 0, 187) calc(var(--progress-value) * 1%), rgb(210, 180, 228) 0);
    animation: progress 2s 1 forwards;
  }
  
  .progress-circle::before {
    counter-reset: percentage var(--progress-value);
    content: counter(percentage) '%';
    animation: progress 2s 1 forwards;
  }

  .progress{
    position: relative;
    margin: 4px;
    float:left;
    text-align: center;
  }
  .barOverflow{ /* Wraps the rotating .bar */
    position: relative;
    overflow: hidden; /* Comment this line to understand the trick */
    width: 90px; height: 45px; /* Half circle (overflow) */
    margin-bottom: -14px; /* bring the numbers up */
  }
  .bar{
    position: absolute;
    top: 0; left: 0;
    width: 90px; height: 90px; /* full circle! */
    border-radius: 50%;
    box-sizing: border-box;
    border: 5px solid #eee;     /* half gray, */
    border-bottom-color: #0bf;  /* half azure */
    border-right-color: #0bf;
  }